extends layout

block content
  h1 Remove book
  form(action="/remove-book" method="post")
    p Book directory:
    div
      table
        thead
          tr: th Name
              th Author
          tbody
            each book, i in books
              tr
                td
                  p= book.name
                td
                  p= book.author
                td
                  input(type="radio" name="book_id" id="book_id" value=book._id)
    button(type="submit") Delete